.body {
    width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 90px;
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.h1 {
    color: #FFF;
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-left: 20px;
    padding: 0;
    letter-spacing: 0.6px;
}

.nav-div {
    display: flex;
    justify-content: flex-end;
}

.nav{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    list-style: none;  
    justify-content: flex-end; 
    margin: 0;
    padding: 0;
}
   
.a-nav {
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none; 
    margin-right: 30px;
    margin-bottom: 20px;
    border-bottom: 0 solid rgb(248, 246, 246);
    transition: 1s
}

a:hover {
    border-bottom-width: 3px;
    cursor: pointer;
}

.img1 { 
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 22px;
    margin-left: 10px;
    width: 28px;
    height: 28px;
}

.div-welcome {
    display: flex;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%),
    url(assets/img/Welcome.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;  
}

.welcome_hd {
    display: inline-flex;
    flex-direction: column;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 220px;
    margin-right: 840px;
    background-color: black;
}

.container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.all_hd { display: block;
    color: #0C0C0E;
    font-family: "Forum";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.all_hd::after {
    content: "";
    display: flex;
    justify-content: center;
    width: 50px;
    height: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #0C0C0E;
    margin-left: 695px;
    margin-right: 695px;
    padding: 0;
}

.p-about {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    margin-top: 40px;
}

.image_about {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;  
}

.photo_about {
    width: 450px;
    height: 560px;
    padding: 0;
    margin: 0;
    margin-right: 20px; 
}

.about__btn {
    display: flex;
    justify-content: center;
    width: 78px;
    height: 26px;
    margin: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.about__btn_frame {
    display: flex;
    justify-content: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.about_btn__inside{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
    background-color:#0C0C0E; 
    transition-duration: 0.3s;
}

.about_btn__inside:hover{
    border: 2px;
    border-color: #BB945F ;
    background-color: #BB945F;
}

.about_btn__inside_active {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
    border: 0;
    background-color:#BB945F; 
    transition-duration: 0.3s;
}

.about_btn__inside_active:hover {
    border-color: #0C0C0E ;
    background-color: #0C0C0E;
}

.favorites{
    margin: 0;
    margin-top: 36px;
}

.favorites_txt {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin: 0;
    margin-left: 20px;
    margin-top: 40px;
}

.favorites__radio {
    display: flex;
    column-gap: 76px;
    align-items: baseline;
    width: 700px;
    height: 24px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 5px;
}

.favorites_lbl_inp__bl {
     margin: 0;
     margin: 5px;
     cursor: pointer; 
}

.favorites_lbl {
    display: flex;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;   
    cursor: pointer;
}

.favorites_lbl:has(:checked){
    font-weight: 700;    
}

.favorites_inp__block {
    width: 27px;
    height: 27px;
    cursor: pointer;
    text-align: center;
    margin-right: 15px;
}

.favorites_ipt {
    box-sizing: border-box;
    accent-color: black;
    cursor: pointer;
    width: 17px;
    height: 17px;
    border:0;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.books_top {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0;
}

.favorites_book_one {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 550px;
    height: 555px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 40px;
}

.favorites_book__staff {
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 19px;
    margin-top: 14px;
}

.favorites_book__staff::after {
    box-sizing:border-box ;
    content: "";
    display: flex;
    justify-content: flex-start;
    width: 60px;;
    border-bottom: 1px solid #BB945F;
    margin: 0;
}

.favorites_name_book {
    display: flex;
    box-sizing: border-box;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin: 0px;
    margin-left: 20px;
}

.favorites_name_author {
    box-sizing: border-box;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    margin: 0;
    margin-left: 19px;
}

.favorites_info_book {
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    margin-left: 19px;
    margin-top: 19px;
    width: 359px;
    height: 320px;
    padding: 0;
}

.favorites_btm_book {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    padding: 0;
    border: 1px solid #0C0C0E;
    background-color: #FFF;
    margin: 0;
    margin-left: 19px;
    margin-top: 15px;
    transition-duration: 0.3s;
}

.favorites_btm_book:hover {
    background-color: #BB945F;
    border-color: #BB945F;
}

.favorites_img_book{
    position: absolute;
    width: 200px;
    height: 300px;
    margin: 0;
    margin-left: 389px;
    margin-top: 254px;
}

.favorites_book_two {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 550px;
    height: 555px;
    border: 1px solid black;
    margin: 0;
    margin-right: 60px;
    margin-top: 40px;
}

.favorites_btm_own {
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    padding: 0;
    border: 1px solid #BB945F;
    margin: 0;
    margin-left: 19px;
    margin-top: 15px;
}

.coffeeshop_dv {
    width: 1440px;
     margin: 0;
     margin-top: 40px;
     text-align: center;
}

.coffeeshop_info {
    width: 1440px;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.coffeeshop_menu {
    display: flex;
    justify-content: space-between;
}

.coffeeshop_menu__drinks {
    display: inline-flex;
    flex-direction: column;
    width: 438px;
    height: 520px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.menu_drinks__list {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0;
    margin-top: 40px;
}

.menu_drinks__item {
    display: inline-flex;
    justify-content: space-between;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    margin-top: 40px;
}

.drinks_menu__line {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    margin: 0;
    margin-left: auto;
    margin-top: 19px;
    margin-right: 10px;
    text-align: center;
}

.drinks_menu__price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    padding-left: 10px;
    text-align: right;
}

.coffeeshop_menu__desserts {
    width: 482px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.menu_desserts__list {
    text-align: right;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0;
    margin-right: 20px;
    margin-top: 40px;
}

.menu_desserts__item {
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0;
    margin-top: 40px;
    margin-right: 19px;
    margin-left: auto;
}

.desserts_menu__line {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    margin: 0;
    margin-top: 19px;
    margin-left: 58px;
    margin-right: 50px;
}

.desserts_menu__price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    text-align: right;
}