.html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.body {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.no-scrolling {
  overflow-x: hidden;
}

.body_wrapper {
  margin: 0;
  padding: 0;
}

.container_block {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 auto;
}

.header {
  position: relative;
  max-width: 1440px;
  height: 90px;
  background-color: #0C0C0E;
  padding: 20px;
  margin: 0 auto;
}

.h1 {
  box-sizing: border-box;
  color: #FFF;
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding: 0;
  margin: 0;
}

.burger_main {
  display: none;
}

.burger_line1,
.burger_line2,
.burger_line3 {
  width: 45px;
  height: 2px;
  background-color: white;
  margin: 0;
  margin-bottom: 8px;
  transition-duration: 0.5s;
}

.header.open .burger_line1 {
  margin: 0;
  position: absolute;
  rotate: 45deg;
}

.header.open .burger_line2 {
  margin:0;
  opacity: 0;
}

.header.open .burger_line3{
  position: absolute;
  margin: 0;
  rotate :-45deg;
}

.header.open .burger_main {
  position: absolute;
  right: 24px;
  z-index: 2;
  width: 37px;
  height: 37px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 3px;
  margin-left: 40px;
}

@media(max-width: 1024px) {
  .burger_main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 40px;
    background-color: #0C0C0E;
    border: none;
  }
}

.nav-div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav {
  text-align: center;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.header.open .nav {
  display:block;
  right: 0;
  top: 0;
}

@media (max-width: 1024px) {
  .nav {
    position: absolute;
    right: -332px;
    margin:0;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px){
  .nav-links {
    width: 332px;
    height: 570px;
    background-color:#0C0C0E;
    position: fixed;
    top: 0;
    right: -332px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition-duration: 1s;
  }

  .header.open .nav-links {
    width: 332px;
    height: 570px;
    background-color:#0C0C0E ;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    transition-duration: 1s;
  }

  .a-nav {
    display: block;
    padding: 0;
    margin-left: 27px; 
  }
  
  .header.open .a-nav {
    display: inline-block;
    margin: 0 auto;
  }

  .header.open .a-nav {
    padding:0;
    margin: 0;
    transition-duration: 1s;
  }

  .a-nav:active {
    color: #BB945F;
  }
}

.a-nav {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  border-bottom: 0 solid rgb(248, 246, 246);
  transition: 1s;
}

.a-nav:hover {
  color:#BB945F;
  cursor: pointer;
}

.profile_div {
  display: block;
  position: absolute;
  border-radius: 100%;
  z-index: 2;
  width: 30px;
  height: 30px;
  top: 31px;
  right: 20px;
  cursor: pointer;
}
.profile_div2 {
  border-radius: 100%;
  display: none;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  top: 31px;
  right: 20px;
  cursor: pointer;
  margin-left: 30px;
}

@media (max-width: 1024px){
  .img1 {
    position: absolute;
    right: 105px;
    z-index: 2;
  }
  .profile_div{
    z-index: 3;
    right: 105px;
  }
}

.img1 {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  margin-bottom: 11px;
}

.img1:hover {
  cursor: pointer;
}

.img_prof {
  display: none;
  position: absolute;
  margin: 0;
  right: 21px;
  top: 31px;
}

@media(max-width: 1024px) {
  .img_prof{
    right: 105px;
  }
  .profile_div2 {
    right: 105px;
  }
}

.img_prof:hover{
  cursor: pointer;
}

.svg_prof_text {
  fill: #BB945F;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-anchor: middle;
}

.dropMenu {
  position: absolute;
  right: 20px;
  top: 60px;
  flex-direction: column;
  text-align: center;
  width: 80px;
  height: 115px;
  background-color: #FFF;
  padding:0;
}

@media (max-width: 1024px) {
  .dropMenu {
    right: 105px;
  }
}

.dm_noAuth{
  display:none;
}
.dm_withAuth {
  display:none;
}

.dm_h {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  margin-top: 5px;
}

.text_number_card{
  font-size: 12px;
}

.dm_h::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 40px;
  height: 1px;
  border-bottom: 1px solid #BB945F;;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 15px;
  padding: 0;
}

.dm_text:hover {
  color: #BB945F;
}

.dm_text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Modal Register*/
.register_relative {
  position: relative;
}
.modal_background {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  z-index: 3;
  display: none;
  align-items: center;
  background-color: rgba(60,60,60,0.8);
  cursor: pointer;
}
.modal_register{
  position: fixed;
  display: none;
  flex-direction: column;
  width: 250px;
  height: 382px;
  left: 40%;
  top: 30%;
  background-color: #FFF;
  display: none;
  z-index: 50;
}
@media(max-width: 768px){
  .modal_register{
    left: 35%;
}
}
.register_name{
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.register_button_close{
  position: absolute;
  margin:0;
  top: 13px;
  right: 13px;
  cursor: pointer;
}
.register_button_close:hover{
  border-radius: 100%;
  border: 2px solid black;
}
.register_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 0;
  margin-left: 25px;
}
.register_form_label{
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin:0;
  padding:0;
  margin-bottom: 10px;
}
.register_form_label:hover{
  color:#BB945F;
}
.register_form_input{
  width: 200px;
  height: 20px;
  border: 1px solid #BB945F;
  margin: 0 auto;
  margin-top: 10px; 
  outline: none;
}
.register_form_input:hover{
  border: 3px solid #BB945F; 
}
.last_Name,
.first_Name{
  text-transform: capitalize;
}
.register_form_button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  background-color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-left:25px;
}
.register_form_button:hover {
  border: none;
  background-color: #BB945F;
}
.register_text_a{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-top: 10px;
}
.register_text{
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.register_a{
  color: #0C0C0E;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  margin-left: 10px;
}

/* Modal login */

.modal_login{
    position: fixed;
    display: none;
    flex-direction: column;
    width: 250px;
    height: 262px;
    left: 40%;
    top: 30%;
    background-color: #FFF;
    z-index: 50;
}
@media(max-width: 768px){
  .modal_login {
    left: 35%;
  }
}
.login_name{
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.login_button_close{
  position: absolute;
  margin:0;
  top: 13px;
  right: 13px;
  cursor: pointer;
}
.login_button_close:hover{
  border-radius: 100%;
  border: 2px solid black;
}
.login_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 0;
  margin-left: 25px;
}
.login_form_label{
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin:0;
  padding:0;
  margin-bottom: 10px;
}
.login_form_label:hover{
  color:#BB945F;
}
.login_form_input{
  width: 200px;
  height: 20px;
  border: 1px solid #BB945F;
  margin: 0 auto;
  margin-top: 10px; 
  outline: none;
}
.login_form_input:hover{
  border: 3px solid #BB945F;
}
.login_form_button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  background-color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 10px;
  cursor: pointer;
}
.login_form_button:hover {
  border: none;
  background-color: #BB945F;
}
.register_a:hover{
  color:#BB945F;
  cursor: pointer;
}

/* Modal My Profile */
.modal-MyProfile {
  width: 600px;
  height: 400px;
  display: none;
  position: fixed;
  top: 150px;
  left: 30%;
  z-index: 50;
  background-color: #FFF;
  margin: 0 auto;
}
@media(max-width: 1200px){
  .modal-MyProfile{
    left:25%;
 }
};
@media(max-width: 1070px){
  .modal-MyProfile{
    left:15%;
  }
}
@media(max-width: 900px){
  .modal-MyProfile{
    left:15%;
  }
}
@media(max-width: 768px){
  .modal-MyProfile{
    left:10%;
  }
}
@media(max-width: 730px){
  .modal-MyProfile{
    left:5%;
  }
}
@media(max-width: 660){
  .modal-MyProfile{
    left:0%;
  }
}
.modal_profile_left {
  width: 170px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}
.modalMyProfile_avatar__text{
  color: #BB945F;
  font: normal 400 20px/20px Inter; 
  text-transform: capitalize;
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: #FFF;
  margin: 0 auto;
  margin-top: 140px;
  padding-top: 30px;
}
.modalMyProfile_name__text {
  color: #000;
  font: normal 400 20px/20px Inter;
  text-transform: capitalize;
  text-align: center;
  width: 120px;
  min-height: 30px;
  background-color: #FFF;
  margin: 0 auto;
  margin-top: 15px;
  padding-top:5px;
}
.modal_profile_h {
  color: #000;
  font: normal 400 40px/20px Forum;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding:0;
  margin-top: 40px;
  margin-left:20px;
}
.modal_profile_btn_close {
  position: absolute;
  top: 23px;
  right: 23px;
  cursor: pointer;
}
.modal_profile_btn_close:hover{
  border-radius: 100%;
  border: 2px solid black;
}
.modal_profile_icons{
  display: flex;
  gap: 20px;
  margin: 0;
  margin-left:20px;
  margin-top: 40px;
}
.icons_div{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin:0;
  padding:0;
}
.icons_text{
  color: #000;
  font: normal 400 20px/20px Inter;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
.icons_icon{
  margin: 0 auto;
  padding: 0;
}
.icons_number{
  color: #000;
  font: normal 400 10px/20px Inter;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.modal_profile_p{
  color: #0C0C0E;
  font: normal 400 25px/20px Inter;
  padding:0;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.modal_profile_books_link{
  width: 362px;
  height: 66px;
  margin: 0px;
  margin-top: 20px;
  margin-left: 10px;
  overflow: auto;
}
.scroll_modal{
  overflow: auto;
}
.modal_profile_books_link::-webkit-scrollbar {
  height: 4px;
  width: 4px;               /* ширина scrollbar */
}
.modal_profile_books_link::-webkit-scrollbar-track {
  background: #BB945F;        /* цвет дорожки */
}
.modal_profile_books_link::-webkit-scrollbar-thumb {
  background-color: #0C0C0E;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  
}
.profile_books__item {
  height: 20px;
  white-space:nowrap;
  color: #000;
  font: normal 400 20px/20px Inter;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 10px;
 
}
.modalProfile_div__cardNumber{
  display: flex;
  padding: 0;
}
.modalProfile_cardNumber{
  color: #0C0C0E;
  font: normal 400 20px/20px Inter;
  margin: 0;
  margin-top: 35px;
  margin-left: 20px;
  padding: 0;
}
.modalProfile_cardNumber_linkCard{
  color: #BB945F;
  font: normal 400 20px/20px Inter;
  text-align: center;
  margin: 0;
  margin-left: 15px;
  margin-top: 35px;
}
.modalProfile_iconCopy{
  margin: 0;
  margin-left: 15px ;
  margin-top: 39px;
  cursor: pointer;
  border: none;
  background-color: #FFF;
}
.modalProfile_iconCopy:hover{
  border-radius: 5px;
  border: 1px solid #8E8E8E;
}

/* Modal Buy a Card*/
.modal_buyCard {
  display: none;
  width: 640px;
  height: 540px;
  position: fixed;
  left: 26%;
  top: 10%;
  z-index: 50;
  background-color: #FFF;
}
.modal_buyCard_header {
  position: relative;
  display: flex;
  width: 640px;
  height: 60px;
  background-color: #0C0C0E;
}
.modal_buyCard_heading {
  color: #FFF;
  font: normal 400 40px/20px Forum; 
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 auto; 
  margin-top: 20px; 
}
.modal_buyCard_button__close{
  position: absolute; 
  top: 23px;
  right: 18px;
  cursor: pointer;
}
.modal_buyCard_button__close:hover{
  border-radius: 100%;
  border: 2px solid black;
}
.modal_buyCard_main{
  display: flex;
}
.modal_buyCard_leftSide{
  width: 200px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 35px;
  margin-top: 30px;
}
.modal_buyCard_label{
  color: #000;
  font: normal 400 15px/20px Inter;
  letter-spacing: 0.3px;
  margin-right: 50px;
}
.label-CVC{
  padding-right: 100px;
}
.modal_buyCard_input__max{
  width: 200px;
  height: 20px;
  border: 1px solid #BB945F;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
.modal_buyCard_input__mini{
  width: 45px;
  height: 20px;
  border: 1px solid #BB945F;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  outline: none;
}
.input-CVC{
  margin-bottom: 20px;
}
.input-cityTown {
  text-transform: capitalize;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal_buyCard_block-buttonPrice{
  display: flex;
}
.modal_buyCard_button-buy{
  color: #0C0C0E;
  font: normal 700 10px/normal Inter;
  letter-spacing: 1px;
  text-align: center;
  width: 75px;
  height: 30px;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  padding: auto;
  margin-top: 10px;
  margin-right: 25px;
  cursor: pointer;
}
.modal_buyCard_button-buy:hover {
  background-color: #BB945F;
}
.modal_buyCard_price{
  color: #0C0C0E;
  font: normal 700 20px/20px Inter;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.modal_buyCard_rightText{
  width: 330px;
  text-align: left;
  color: #8E8E8E;
  font: normal 400 15px/20px Inter;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: 40px;  
}

/* section Welcome */
.div-welcome {
  width: 100%;
  margin: 0;
  padding: 0;
}
.welcome {
  max-width: 1440px;
  height: 600px;
  display: flex;
  background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%),
    url(assets/img/Welcome.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
}
.welcome_hd {
  width: 600px;
  height: 220px;
  display: inline-flex;
  flex-direction: column;
  justify-content: right;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0;
  padding-top: 35px;
  margin-top: 220px;
  background-color: black;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.about {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.all_hd {
  display: block;
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.all_hd::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #0C0C0E;
  margin: 0 auto;
  padding: 0;
}

.p-about {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-top: 40px;
}

.image_about {
  max-width: 1400px;
  width: 100%;
  height: 560px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

@media (max-width: 1400px){
  .image_about {
    justify-content: center;
    align-items: center;
  }
}

.about_carret {
  display: none;
}
@media (max-width: 965px) {

  .image_about {
    justify-content: center;
    align-items: center;
    padding: 0 55px;
  }

  .about_carret {
    display: block;
    background-color: #FFF;
    border: 1px solid #FFF;
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }
}

.slider_photo {
  display: flex;
  width: 167%;
  height: 560px;
}

.slider_wrapper{
  display: flex;
  gap: 25px;
  width: 100%;
  margin: 0 auto;
}

.left {
  transform: translateX(0);
  transition-duration: 2s;
}
.center {
  transform: translateX(-20%);
  transition-duration: 2s;
}
.right {
  transform: translateX(-40%);
  transition-duration: 2s;
}

@media (max-width: 1430px){
  .slider_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
}
@media (max-width: 965px) {
  .image_about {
    max-width: 450px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .slider_photo {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 700%;
    transition-duration: 3s;
    margin: 0;
    padding: 0;
  }
  
  .slider_wrapper{
    width: 450px;
    display: flex;
    margin:0 30px;
    padding:0;
    gap:0; 
  }

  .left {
    transform: translateX(0);
    transition-duration: 2s;
  }
  .center {
    transform: translateX(-100%);
    transition-duration: 2s;
  }
  .right {
    transform: translateX(-200%);
    transition-duration: 2s;
  }
  .next{
    transform: translateX(-300%);
    transition-duration: 2s;
  }
  .next2 {
    transform: translateX(-400%);
    transition-duration: 2s;
  }
  
  .carret_left {
    position: absolute;
    left: 75px;
    border-radius: 100%;
  }
  .carret_right {
    position: absolute;
    right: 75px;
    border-radius: 100%;
  }
}

.photo_about {
  width: 450px;
  height: 560px;
  padding: 0;
}

.about__btn {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
}

.about__btn_frame {
  display: flex;
  justify-content: center;
  width: 26px;
  height: 26px;
  padding: 0;
}

.about_btn__inside {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin: 5px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: #0C0C0E;
  transition-duration: 0.3s;
}

.active{
  background-color: #BB945F;
  cursor: default;
}

.active_carret{
  background-color: #BB945F;
  cursor: pointer;
}

.btn-none1,
.btn-none2{
  display: none;
}

@media (max-width: 1024px){
  .btn-none2 {
    display: block;
  }
}

@media (max-width: 965px) {
  .btn-none1 {
    display:block;
  }

  .about__btn {
    margin-top: 20px;
  }
}

.favorites {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  margin-top: 55px;
}

@media (max-width:768px){
  .favorites_sticky{
    position: sticky;
    top:0;
    z-index: 20;
    background-color: #FFF;
  }
}

.favorites_txt {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-left:20px;
}

.favorites__radio {
  display: flex;
  column-gap: 76px;
  align-items: baseline;
  max-width: 700px;
  height: 24px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 5px;
}


@media (max-width: 724px) {
  .favorites__radio {
    display: flex;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    column-gap: 56px;
  }
}

@media (max-width: 664px){
  .favorites__radio {
    display: flex;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    column-gap: 46px;
  }
}

.favorites_lbl_inp__bl {
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}

.favorites_lbl {
  display: flex;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.favorites_lbl:has(:checked) {
  font-weight: 700;
}

.favorites_inp__block {
  display: inline-flex;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 5px;
  padding: 0;
} 

@media (max-width: 724px){
  .favorites_inp__block {
    margin-left: auto;
  }
}
 
.favorites_ipt {
  display: inline-block;
  accent-color: black;
  cursor: pointer;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

@media (max-width: 1235px) {
  .books_top_spring,
  .books_top_autumn,
  .books_top_summer{
    flex-direction: column;
    align-items: center;
    left: 190px;
  }

  .books_top_winter{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .books_top_spring,
  .books_top_autumn,
  .books_top_summer{
    left: 60px;
  }
}

.books_top_winter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  opacity: 1;
  transition-duration: 5s;
}
.books_top_spring {
  max-width: 1440px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  opacity: 0;
  transition-duration: 5s;
}
.books_top_summer {
  max-width: 1440px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  opacity: 0;
  transition-duration: 5s;
}
.books_top_autumn{
  max-width: 1440px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  opacity: 0;
  transition-duration: 5s;
}

.favorites_book_one {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 550px;
  height: 555px;
  border: 1px solid black;
  margin-top: 40px;
  margin-right: 40px;
}

.favorites_book__staff {
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 19px;
  margin-top: 14px;
}

.favorites_book__staff::after {
  box-sizing: border-box;
  content: "";
  display: flex;
  justify-content: flex-start;
  width: 60px;
  border-bottom: 1px solid #BB945F;
  margin: 0;
}

.favorites_name_book {
  display: flex;
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  margin: 0px;
  margin-left: 20px;
}

.favorites_name_author {
  text-align: left;
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  margin-left: 19px;
}

.favorites_info_book {
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  margin-left: 19px;
  margin-top: 19px;
  width: 359px;
  height: 320px;
  padding: 0;
}

.favorites_btm_book {
  cursor: pointer;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  width: 75px;
  height: 30px;
  padding: 0;
  border: 1px solid #0C0C0E;
  background-color: #FFF;
  margin: 0;
  margin-left: 19px;
  margin-top: 15px;
  transition-duration: 0.3s;
}

.favorites_btm_book:hover {
  cursor: pointer;
  background-color: #BB945F;
  border-color: #BB945F;
}

.favorites_img_book {
  position: absolute;
  width: 200px;
  height: 300px;
  margin: 0;
  bottom: -1px;
  right: -41px;
}

.favorites_book_two {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 550px;
  height: 555px;
  border: 1px solid black;
  padding:0;
  margin: 0;
  margin-right: 40px;
  margin-top: 40px;
}

.favorites_btm_own {
  background-color: #FFF;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  width: 75px;
  height: 30px;
  padding: 0;
  border: 1px solid #BB945F;
  margin: 0;
  margin-left: 19px;
  margin-top: 15px;
}

.coffeeshop {
  max-width: 1440px;
  margin: 0 auto;
}

.coffeeshop_dv {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  text-align: center;
}

.coffeeshop_info {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  margin-right: 5px;
}

@media (max-width: 786px) {
  .coffeeshop_info {
    padding-left: 12px;
    padding-right: 10px;
  }
}

.info_sp {
  text-align: center;
  max-width: 1440px;
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  padding:0; 
}

@media (max-width: 768px) {
  .info_sp {
    max-width: 768px;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 9px;
    margin-right: 10px;
  }
}

.coffeeshop_menu {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 970px){
  .coffeeshop_menu {
    flex-direction: column;
  }
}

.coffeeshop_menu__drinks {
  display: inline-flex;
  flex-direction: column;
  width: 438px;
  height: 520px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.menu_drinks__list {
  text-align: left;
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-sizing: border-box;
  margin: 0;
  margin-top: 40px;
}

.menu_drinks__item {
  display: inline-flex;
  justify-content: space-between;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 40px;
}

.drinks_menu__line {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin: 0;
  margin-left: auto;
  margin-top: 19px;
  margin-right: 10px;
  text-align: center;
}

.drinks_menu__price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  padding-left: 10px;
  text-align: right;
}

.coffeeshop_menu__desserts {
  width: 482px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

@media (max-width: 970px) {
  .coffeeshop_menu__desserts {
    width: 100%;
    margin-top: 40px;
  }
}

.menu_desserts__list {
  text-align: right;
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-sizing: border-box;
  margin: 0;
  margin-right: 20px;
  margin-top: 40px;
}

.menu_desserts__item {
  display: inline-flex;
  justify-content: flex-end;
  text-align: right;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-sizing: border-box;
  margin: 0;
  margin-top: 40px;
  margin-right: 19px;
  margin-left: auto;
}

.desserts_menu__line {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin: 0;
  margin-top: 19px;
  margin-left: 58px;
  margin-right: 50px;
}

.desserts_menu__price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-align: right;
}

.ourcontact {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
}

.ourcontact_dv {
  margin: 0;
}

.ourcontact_list_card {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
}

@media (max-width: 1255px) {
  .ourcontact_list_card {
    flex-direction: column;
  }
}

.ourcontact_dv_list {
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  margin-top: 20px;
}

.ourcontact_list {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding-bottom: 20px;
}

.ourcontact_card {
  width: 696px;
  height: 414px;
  margin: 0;
  margin-top: 20px;
}

@media (max-width: 1255px){
  .ourcontact_card {
    margin:0 auto;
    margin-top: 100px;
 }
}

@media (max-width: 768px){
  .ourcontact_card {
    width: 100%;
    padding: 0 15px;
    margin:0  auto;
    margin-top: 100px;
  }
}
 
.ourcontact_phone {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.phone_a {
  color: #000;
  box-sizing: border-box;
  margin: 0;
  margin-left: 7px;
  text-decoration: none;
  border-bottom: 0 solid #000;
  transition: 1s;
}

.phone_a:hover {
  border-bottom-width: 3px;
  cursor: pointer;
}

.ourcontact_mail {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 40px;
}

.mailto {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  margin-left: 7px;
  border-bottom: 0 solid #000;
  transition: 1s;
}

.mailto:hover {
  border-bottom-width: 3px;
  cursor: pointer;
}

.librarycard {
  max-width: 1440px;
  margin: 0 auto;
}

.librarycard_dv {
  margin: 0;
  margin-top: 60px;
}

.librarycard_allinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 1115px) {
  .librarycard_allinfo {
    flex-direction: column;
    align-items: center;
  }
}

.container_card {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.libcard_table__name {
  text-align: left;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 41px;
  margin-left: 138px;
}

.libcard_block {
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  background-color: #BB945F;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.libcard_table {
  text-align: left;
  box-sizing: border-box;
  width: 600px;
  margin: 0;
  padding: 16px;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.libcard_table__lb {
  text-align: left;
  width: 560px;
  height: 272px;
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin: 0;
  margin-top: 10px;
}

.libcard_table_inp {
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 10px;
  width: 520px;
  height: 66px;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  padding-left: 20px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}

.libcard_table_inp:focus {
  outline: none;
}

.libcard_table_btm {
  display:block;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid black;
  width: 242px;
  height: 44px;
  margin-top: 20px;
  margin-left: 160px;
  margin-bottom: 12px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 0 auto;
}

.libcard_table_btm:hover {
  background-color: #BB945F;
  border: 0;
}

.librarycard_icons {
  display: none;
  gap: 35px;
  margin: 0 auto;
  margin-top: 12px;
  margin-left: 196px;
}
.librarycard_icons__div{
  display: flex;
  gap: 0;
  margin:0;
}
.librarycard_icons__number,
.librarycard_icons__text{
  color: #000;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-top: 2px;
}

.librarycard_request {
  display: block;
  text-align: right;
  margin-top: 10px;
}

@media ( max-width: 768px) {
  .librarycard_request {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.librarycard_request__p {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

@media ( max-width: 768px) {
  .librarycard_request__p {
    width: 100%;
    text-align: center;
    margin:0;
    margin-top: 20px;
  }
}

.librarycard_request__txt {
  max-width: 456px;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  padding-top: 5px;
}

@media ( max-width: 768px) {
  .librarycard_request__txt {
    max-width: 600px;
    text-align: center;
    margin:0 auto;
    margin-top: 40px;
    padding: 0;
  }
}

.librarycard_request_btm {
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid black;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 0 auto;
  margin-left: 16px;
  margin-top: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
}

@media ( max-width: 768px) {
  .librarycard_request_btms {
    margin:0 auto;
    margin-top: 25px;
    margin-right: 17px;
    padding: 0;
  }
}

.librarycard_request_btm:hover {
  border: 0;
  background-color: #BB945F;
}
.librarycard_request__onRegister{
  display: none;
}
.footer {
  max-width: 1440px;
  background-color: #0C0C0E;
  margin:0 auto;
  margin-top: 40px;
}

.footer_body {
  width: 100%;
  margin: auto;
}

.footer_body_top {
  display: flex;
  justify-content: space-between;
}

.ftr_body_top_left {
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

@media ( max-width: 768px) {
  .ftr_body_top_left {
    margin-left: 18px;
    padding: 0;
  }
}

.ftr_adrs {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  transition: 0, 5s;
}

.ftr_adrs:hover {
  color: #BB945F;
  cursor: pointer;
}

.footer_list_icon {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.footer_item_icon {
  display: inline;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  cursor: pointer;
  background-color: #0C0C0E;
  transition: 1s;
}

.footer_icon {
  width: 24px;
  height: 24px;
  transition: 0.5s;
}

.footer_icon:hover {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.ftr_body_top_right {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: right;
  margin: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.footer_workschedule {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.footer_line {
  background: #FFF;
  max-width: 1400px;
  height: 1px;
  margin: auto;
  margin-top: 19px;
}

@media ( max-width: 768px) {
  .footer_line {
    max-width: 728px;
    margin: auto;
    margin-top: 20px;
  }
}

.weekends {
  margin-right: 1px;
}

.footer_body__bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
  margin: 0;
  margin-left: 20px;
  margin-right: 21px;
  margin-top: 35px;
  padding-bottom: 35px;
}

.footer_body_year {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.footer_body_RSS {
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  border-bottom: 0 solid white;
  transition: 1s;
}

@media ( max-width: 768px) {
  .footer_body_RSS {
    margin-left: 14px;
  }
}

.footer_body_RSS:hover {
  border-bottom-width: 3px;
  cursor: pointer;
}

.footer_body_username {
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  border-bottom: 0 solid white;
  transition: 1s;
}

.footer_body_username:hover {
  border-bottom-width: 3px;
  cursor: pointer;
}